/* @font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SolaimanLipi';
    src: url('SolaimanLipi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SolaimanLipi Normal';
    src: url('SolaimanLipi-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
@font-face {
    font-family: SolaimanLipi;
    src: url(SolaimanLipi.ttf) format("opentype");
    font-display: swap;
}

