.section {
  width: 100%;
  height: auto;
  padding: clamp(80px, 10vw, 160px) 0;

  &__header {
    margin-bottom: 40px;

    .subtitle {
      font-family: $font-default;
      font-weight: $font-bold;
      font-size: clamp(20px, 2vw, 32px);
      line-height: 1.52;
      color: $color-primary;
    }

    .title {
      font-family: $font-default;
      font-size: clamp(20px, 3vw, 40px);
      line-height: 1.52;
      color: $color-white;
      img,
      svg {
        width: clamp(175px, 15vw, 320px);
      }
    }
    .desc {
      font-family: $font-default;
      font-size: clamp(20px, 3vw, 40px);
      line-height: 1.52;
      color: $color-white;
      .focus {
        display: inline-block;
        color: $color-secondary;
        font-weight: $font-bold;
      }
    }

    &.center {
      text-align: center;
    }
  }
  &__inner {
    position: relative;
  }
}
